[Desktop Entry]
Name=Zoxel
Comment=A Voxel RPG
Categories=Games;
Type=Application
Icon=/usr/local/games/zoxel/resources/textures/game_icon.png
Exec=sh -c 'cd /usr/local/games/zoxel && ./zoxel'
