[Desktop Entry]
Name=Zoxel
Comment=A Voxely Game
Categories=Game;
Terminal=false
Type=Application
Exec=bash -c 'cd /usr/games/zoxel && ./zoxel'
Icon=/usr/games/zoxel/zoxel_icon.png
