[Desktop Entry]
Name=Zoxel
Comment=A Voxel RPG
Categories=Games;
Type=Application
Exec=/usr/local/games/zoxel/zoxel
Icon=/usr/local/games/zoxel/resources/textures/game_icon.png
