#ignore zoxel build
zoxel
dev
zoxel-dev
web-dev
#ignore scrap code
scrap
scrap.c
android-build
# ignore settings
.vscode
# ignore test builds
tests/builds/*
# ignore flecs source
include/flecs/flecs.h
include/flecs/flecs.c