#ignore zoxel build
builds

#ignore web-dev build
web-demo-dev

#ignore scrap code
scrap
scrap.c

#ignore settings
.vscode

# Ignore Code Counter
.VSCodeCounter

#wasm build
# zoxel.wasm
# zoxel.js
# zoxel.html
