#ignore zoxel build
zoxel
dev
zoxel-dev
web-dev
#ignore scrap code
scrap
scrap.c
android-build
# ignore settings
.vscode
# ignore test builds
tests/builds/*
# ignore flecs source
include/flecs/flecs.h
include/flecs/flecs.c
# ignore zoxel_web build
documents/zoxel_web/zoxel_web
# specific tests
compute_program
compute_simpler
compute_triangle
compute_voxels
