[Desktop Entry]
Name=Zoxel
Comment=A Voxely Game
Categories=Game;
Terminal=false
Type=Application
Exec=/home/deus/zoxel/zoxel
Icon=/home/deus/zoxel/resources/textures/game_icon.png